.btn1{
    padding: 0.75rem 2rem;
    background-color: #5964DF;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #5964DF;
}
.btn1:hover{
    background-color: #404ccf;
}
.btn2{
    padding: 0.75rem 2rem;
    background-color: #fff;
    border: 1px solid #5964DF;
    border-radius: 0.3rem;
    color: #5964DF;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn2:hover{
    background-color: #404ccf10;
}