.body{
    width: 120rem;
    margin: 10rem auto;
    display: flex;
    gap: 3rem;
    flex-flow: row wrap;
    justify-content: center;
}

.box{
    width: 25rem;
    height: 15rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 6rem; */
    justify-content: center;
    position: relative;
}
.img{
    padding: 2rem;
    border-radius: 1.5rem;
    /* border: 1px solid #f7f7fe; */
    display: flex;
    /* background-color: #f7f7fe; */
    width: 10rem;
    /* height: 10rem; */
    align-items: center;
    /* border-radius: 50%; */
    justify-content: center;
    /* top: -5rem; */
    /* position: absolute; */
}

.img img{
    /* width: 10rem; */
    
    width: 100%;
}
.box h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5964DF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
}
.arrow{
    color: #fff;
    /* width: 5rem; */
    font-size: 3rem;
}
.icon:hover{
    transform: rotate(325deg);
}
.body a{
    text-decoration: none;
}
.arrow {
	width: 7.5px;
	height: 7.5px;
	box-sizing: border-box;
	/* position: absolute;
	left: 50%;
	top: 50%; */
	transform: rotate(45deg);
}
	.arrow::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: 1.5px 1.5px 0 0;
		border-style: solid;
		/* border-color: #333; */
		border-color: #5964DF;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	.arrow::after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 1.5px 0 0;
		border-style: solid;
		border-color: #5964DF;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	.box:hover .arrow::after {
		transform: rotate(45deg);
		border-color: #5964DF;
		height: 120%;
	}
	.box:hover .arrow::before {
		border-color: #5964DF;
		transform: scale(.8);
		
	}
    .name{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

@media screen and (max-width: 750px) {
    .body{
        width: 100vw;
        gap: 1rem;
        margin-top: 15rem;
    }
    .box{
        width: 10rem;
        height: 10rem;
    }
    .img{
        width: 7rem;
    }
    .arrow{
        display: none;
    }
    .name h1{
        font-size: 1.2rem;
        text-align: center;
    }
}