.hero{
  width: 120rem;
  margin: 0 auto;
  /* height: 30rem; */
  background-image: url("/hero.png");
  margin-top: 2rem;
  border-radius: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}
.bar{
  background-color: #fff;
  border-radius: 0.5rem;
  /* padding: 2rem; */
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
}
.input{
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid #00000090;
}
.bar button{
  align-self: center;
  margin: 0 2rem;
}
.input:nth-child(3){
  border: none !important;
  /* background-color: aqua; */
}
.input input{
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.4rem;
}
.input img{
  width: 2.3rem;
}
.bar button{
  padding: 1rem 3rem;
}
.text{
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.text label{
  font-size: 1.6rem;
  color: #fff;
}