
.text{
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.text label{
  font-size: 1.6rem;
  color: #fff;
}
.body{
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.manual{
  width: 120rem;
  margin: 5rem auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.latest{
  font-size: 2rem;
}

.specific{
  width: 120rem;
  margin: 5rem auto;
  background-color: #f7f7fe;
  padding: 5rem 3rem;
  /* background-color: #87cefa; */
}
.hero{
  width: 100vw;
  margin: 0 auto;
  /* height: 30rem; */
  background-image: url("/hero.png");
  /* margin-top: 2rem; */
  /* border-radius: 1rem; */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  padding-bottom: 10rem;
}
.bar{
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  border-radius: 0.5rem;
  margin-top: 20rem;
  position: absolute;
  /* padding: 2rem; */
  display: grid;
  /* margin-bottom: 5rem; */
  grid-template-columns: 4fr 2fr 2fr 2fr;
}
.input{
  display: flex;
  /* padding: 2rem; */
  position: relative;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid #00000090;
}
.bar button{
  align-self: center;
  margin: 0 2rem;
}
.input:nth-child(3){
  border: none !important;
  /* background-color: aqua; */
}
.input input{
  border: none;
  width: 100%;
  padding-left: 4rem;
  outline: none;
  font-size: 1.4rem;
}
.input img{
  width: 2.3rem;
  left: 1rem;
  position: absolute;
}
.bar button{
  padding: 1rem 3rem;
}