
.text{
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.text label{
  font-size: 1.6rem;
  color: #fff;
}
.body{
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.manual{
  width: 120rem;
  margin: 5rem auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.latest{
  font-size: 2rem;
}

.specific{
  width: 120rem;
  margin: 5rem auto;
  background-color: #f7f7fe;
  padding: 5rem 3rem;
  /* background-color: #87cefa; */
}

@media screen and (max-width:750px) {
  .manual{
    width: 95vw;
    padding-top: 5rem;
  }
  .body{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}